{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block home %}<a class="nav-link" href="{{ url_for('dashboard') }}">Home <span class="sr-only">(current)</span></a>{% endblock %}
{% block diary %}<a class="navbar-brand" href="{{ url_for('dashboard') }}">Diary</a>{% endblock %}
{% block login %}<a class="nav-link disabled" href="{{ url_for('login') }}">Login</a>{% endblock %}
{% block signup %}<a class="nav-link disabled" href="{{ url_for('signup') }}">Sign Up</a>{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <p>Welcome, {{ name }}!</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- cards -->
<div class="card-group">
  <div class="card">
    <img src="{{ url_for('static', filename='images/new_prompt_image.png')}}" class="card-img-top" alt="Girl writing in notebook">
    <div class="card-body bg-warning">
    <h5 class="card-title">New prompt</h5>
    <p class="card-text">Come write about your day!</p>
    </div>
    <div class="card-footer">
    <a href="{{ url_for('newprompt') }}">
      <button type="button" class="btn btn-success">Create New</button>
    </a>
    </div>
  </div>
  <div class="card">
    <img src="{{ url_for('static', filename='images/edit_prompt_image_resized.jpeg')}}" class="card-img-top" alt="hand writing">
    <div class="card-body bg-warning">
    <h5 class="card-title">View Prompts</h5>
    <p class="card-text">Want to see your history? Click me!</p>
    </div>
    <div class="card-footer">
      <a href="{{ url_for('view') }}">
    <button type="button" class="btn btn-info">View</button>
      </a>
    </div>
  </div>
  </div>
<!-- end of cards -->
{% endblock %}
